ion-item {
    border-style: solid;
    border-radius: 15px;
    border-color: #eeeeee00;
    --ion-background-color: #eeeeee;
}

ion-button {
    --border-radius: 15px;
    --background: rgb(32, 53, 172);
    font-weight: bolder;
    height: 40px;
}